.detail-page{
    width: 100%;
    height: 90.2vh;
    overflow: hidden;
}
.movie-back-img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.movie-back-img img{
  width: 100%;
  height: 100%;
}
.movie-detail-content{
    width: 100%;
    height: 90.2vh;
    background-image: linear-gradient(to left ,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.5),rgba(0,0,0,1),rgba(0,0,0,1));
    top: 70px;
    position: absolute;
    display: flex;
    flex-direction: column;
}
.movie-title-img{
    width: 450px;
    height: 350px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px 0px 20px 30px;
}
.movie-title-img img{
    width: 100%;
    height: 100%;
}
.movie-detail-page{
    width: 60%;
    height: 220px;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.movie-play-trailer-watchlist{
    width: 65%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.movie-p-t-w{
    width: 40%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.movie-w{
    width: 15%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.play-btn{
    width: 67%;
    height: 90%;
    background-color: transparent;
    border: 2px solid rgba(249,249,249,0.3);
    outline: none;
    border-radius: 6px;
    font-size: 1.3em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #b3b3b3;
    cursor: pointer;
    padding-right: 4px;
}
.play-btn:hover{
    transform: scale(1.10,1.10);
    border: 3px solid rgba(249,249,249,0.6);
}
.play-btn img{
    width: 38%;
    height: 100%;
}
.trail-btn{
    width: 90%;
    height: 90%;
    background-color: transparent;
    border: 2px solid rgba(249,249,249,0.3);
    outline: none;
    border-radius: 6px;
    font-size: 1.3em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #b3b3b3;
    cursor: pointer;
    padding-right: 3px;
}
.trail-btn:hover{
    transform: scale(1.10,1.10);
    border: 3px solid rgba(249,249,249,0.6);
}
.trail-btn img{
    width: 30%;
    height: 100%;
}
.watchlist-btn{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    outline: none;
    font-size: 2.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}
.watchlist-btn:hover{
    transform: rotate(180deg);
}
.movie-details{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
}
.movie-sub-title{
    width: 90%;
    height: 30%;
    margin-top: 8px;
    margin-left: 34px;
    text-align: left;
    font-size: 1.2em;
    font-weight: 600;
    padding-top: 5px;
    color: #b3b3b3;
}
.movie-desc{
    width: 95%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 8px;
    margin-left: 34px;
    flex-wrap: wrap;
    font-size: 1.1em;
    color: #d9d9d9;
    overflow: hidden;
}

@media screen and (max-width: 1040px){
    .movie-detail-page{
        height: 300px;
    }
    .movie-title-img{
        width: 380px;
        height: 300px;
        margin: 18px 0px 18px 0px;
        padding: 18px;
    }
    .play-btn{
        font-size: 1.2em;
        font-weight: 600;
        color: white;
    }
    .trail-btn{
        font-size: 1.2em;
        font-weight: 600;
        color: white;
    }
    .watchlist-btn{
        width: 45px;
        height: 45px;
        font-size: 1.8em;
    }
    .movie-sub-title{
        font-size: 1.3em;
        font-weight: 500;
    }
    .movie-desc{
        font-size: 1.06em;
        font-weight: 400;
    }
}

@media screen and (max-width: 800px){
    .detail-page{
        height: 91.5vh;
    }
    .movie-back-img{
        height: 65%;
    }
    .movie-detail-content{
        top: 60px;
        height: 91.5vh;
        background-image: linear-gradient(to bottom ,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.65),rgba(0,0,0,1),rgba(0,0,0,1));
        display: flex;
        flex-direction: row;
    }
    .movie-title-img{
        width: 290px;
        height: 240px;
        bottom: 50px;
        position: absolute;
        margin: 0px;
        left: 5px;
        padding: 5px;
    }
    .movie-detail-page{
        height: 300px;
        bottom: 5px;
        right: 10px;
        position: absolute;
        margin: 0px;
    }
    .movie-play-trailer-watchlist{
        width: 90%;
        height: 25%;
    }
    .play-btn{
        font-size: 1.08em;
    }
    .play-btn:hover{
        transform: none;
        border: 2px solid rgba(249,249,249,0.6);
    }
    .trail-btn{
        font-size: 1.08em;
    }
    .trail-btn:hover{
        transform: none;
        border: 2px solid rgba(249,249,249,0.6);
    }
    .watchlist-btn{
        width: 42px;
        height: 42px;
        font-size: 1.5em;
    }
    .watchlist-btn:hover{
        transform: none;
    }
    .movie-sub-title{
        height: 25%;
        padding-top: 10px;
        font-size: 1.1em;
        font-weight: 600;
    }
    .movie-desc{
        width: 90%;
        height: 75%;
        font-size: 0.9em;
        padding-top: 8px;
        font-weight: 400;
        letter-spacing: 0.8px;
    }
}
@media screen and (max-width: 700px){
    .movie-title-img{
        width: 270px;
        height: 200px;
        padding: 0px;
    }
    .movie-detail-page{
        width: 65%;
    }
    .movie-sub-title{
        padding-top: 5px;
        font-size: 1.05em;
        font-weight: 500;
    }
}
@media screen and (max-width: 550px){
    .movie-title-img{
        width: 230px;
        height: 160px;
        padding: 0px;
        bottom: 280px;
    }
    .movie-detail-page{
        width: 100%;
        height: 250px;
        right: 0px;
    }
    .movie-play-trailer-watchlist{
        height: 28%;
    }
    .movie-sub-title{
        font-size: 1.16em;
        font-weight: 600;
    }
    .movie-desc{
        padding-top: 5px;
        font-size: 0.9em;
        letter-spacing: 0.6px;
    }
}
@media screen and (max-width: 430px){
    .movie-detail-content{
        background-image: linear-gradient(to bottom ,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.6),rgba(0,0,0,1),rgba(0,0,0,1));
    }
    .movie-play-trailer-watchlist{
        width: 100%;
        height: 25%;
    }
    .movie-title-img{
        width: 220px;
        height: 145px;
        bottom: 300px;
        padding: 0px;
    }
    .movie-detail-page{
        height: 300px;
        right: 0px;
        bottom: 0px;
    }
    .movie-details{
        height: 74%;
    }
    .movie-sub-title{
        font-size: 1.2em;
        font-weight: 600;
    }
    .movie-desc{
        font-size: 0.85em;
        padding-top: 5px;
        letter-spacing: 0.6px;
    }
}
@media screen and (max-width: 380px){
    .movie-title-img{
        width: 200px;
        height: 125px;
        bottom: 320px;
        padding: 0px;
    }
    .movie-detail-page{
        height: 320px;
    }
    .movie-sub-title{
        font-size: 1.12em;
        margin-left: 25px;
    }
    .movie-desc{
        font-weight: 400;
        padding-top: 5px;
        letter-spacing: 0.5px;
        margin-left: 25px;
    }
}
@media screen and (max-width: 330px){
    .movie-play-trailer-watchlist{
        width: 85%;
        height: 22%;
    }
    .play-btn{
        font-size: 0.8em;
    }
    .trail-btn{
        font-size: 0.8em;
    }
    .watchlist-btn{
        width: 37px;
        height: 37px;
    }
    .movie-title-img{
        width: 160px;
        height: 110px;
        bottom: 330px;
        padding: 0px;
    }
    .movie-sub-title{
        margin-left: 15px;
    }
    .movie-detail-page{
        height: 330px;
    }
    .movie-desc{
        font-size: 0.82em;
        letter-spacing: 0.6px;
        margin-left: 15px;
    }
}

